body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo {
    height: 30px;
}

header .logo h1 {
    margin: 0;
}

nav {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.headerNav {
    position: fixed;
    top: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    width: 100%;
}

main {
    padding: 20px;
    padding-top: 20px; /* Adjust padding to avoid content being hidden behind fixed nav */
}

.main-article {
    margin-bottom: 20px;
}

.main-article img {
    width: 100%;
    height: auto;
}

.main-article h2 {
    font-size: 2em;
    margin: 10px 0;
}

.filter-buttons {
    display: flex;
    justify-content: center;
}

.other-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.other-articles article {
    background: #f4f4f4;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
}

.other-articles img {
    width: 100%;
    height: auto;
}

.no-articles {
    grid-column: 1 / -1; /* Span all columns */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 24px;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
}

.color-buttons {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.color-buttons button {
    width: 40px; /* Set width and height to create square buttons */
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0 5px;
    color: white;
}

.color-buttons button:hover {
    background-color: #272727;
}
