body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.containerThree {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--fontColor);
    background-color: var(--bgColor);
}

.mainThree {
    padding: 20px;
    padding-top: 20px; /* Adjust padding to avoid content being hidden behind fixed nav */
    flex: 1;
}

.otherArticlesThree {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.articleThree {
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    color: var(--articleColor);
    background-color: var(--articleBgColor);
}

.articleThree:hover {
    background-color: var(--articleBgHoverColor);
}

.articleThree h3 {
    margin: 0;
}

.noArticlesThree {
    grid-column: 1 / -1; /* Span all columns */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: 24px;
    margin-bottom: 10%;
}

.errorMessage {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.logoThree {
    height: 5%;
    justify-content: flex-start;
    margin-left: 2%;
}

.footerThree {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--footerColor);
    background-color: var(--footerBgColor);
}

.colorButtonsThree {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    right: 20px;
    bottom: 20px;
    margin-right: 2%;
}

.colorButtonsThree button {
    width: 40px; /* Set width and height to create square buttons */
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0 5px;
    color: black;
    background-color: white;
}

.colorButtonsThree button:hover {
    color: white;
    background-color: #272727;
}

/* Nowa warstwa dla rozmycia tła */
.background-blur {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); /* Półprzezroczyste tło */
    backdrop-filter: blur(5px); /* Efekt rozmycia */
    z-index: 999; /* Warstwa poniżej pop-upu, ale powyżej treści strony */
    pointer-events: none; /* Wyłączenie interakcji */
}

/* Stylizacja dla pop-upu */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Pop-up na górze */
}

.popup-content {
    background-color: var(--popupBgColor);
    color: var(--popupColor);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    max-height: 80vh; /* Ogranicz maksymalną wysokość pop-upu do 80% wysokości widoku */
    overflow-y: auto; /* Dodaj pionowe przewijanie */
    position: relative;
    z-index: 1001; /* Pop-up nad warstwą rozmycia */
}


.close-popup {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--popupCloseBgColor);
    color: var(--popupCloseColor);
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.close-popup:hover {
    background-color: var(--popupCloseBgHoverColor);
}

