html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.containerTwoArt {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    box-sizing: border-box;
}

.headerTwoArt {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 20%;
    position: fixed;
    height: 100vh; /* Make sure the header spans the full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes footer to the bottom */
}

.headerTwoArt .logoTwoArt {
    height: 30px;
}

.headerTwoArt .logoTwoArt h1 {
    margin: 0;
}

.articleContainerTwoArt {
    padding: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
    flex: 1;
    box-sizing: border-box;
}

.addCommentContainerTwoArt {
    width: 80%;
}

.addCommentContainerTwoArt form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.addCommentContainerTwoArt form .MuiTextField-root {
    width: 100%;
}

.commentsContainerTwoArt {
    width: 80%;
}

.backButtonContainerTwoArt {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 100%;
}

.footerTwoArt {
    color: white;
    text-align: center;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
}

.colorButtonsTwoArt {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.colorButtonsTwoArt button {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0 5px;
    color: white;
}

.colorButtonsTwoArt button:hover {
    background-color: #272727;
}
