#root {
    background-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.containerTwo {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    box-sizing: border-box;
}

.headerTwo {
    color: white;
    text-align: center;
    width: 20%;
    min-height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Pushes footer to the bottom */
}

.headerTwo .logoTwo {
    height: 30px;
    margin-top: 5%;
}

.headerTwo .logoTwo h1 {
    margin: 0;
}

.filterButtonsTwo {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.headerNavTwo {
    position: fixed;
    top: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    width: 100%;
}

.mainTwo {
    padding: 20px;
    padding-top: 20px; /* Adjust padding to avoid content being hidden behind fixed nav */
    flex: 1;
    max-width: 80%;
    margin-left: 20%;
}

.mainArticleTwo {
    margin-bottom: 20px;
}

.mainArticleTwo img {
    width: 100%;
    height: auto;
}

.mainArticleTwo h2 {
    font-size: 2em;
    margin: 10px 0;
}

.filterButtonsTwo {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    flex: 1;
}

.otherArticlesTwo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.otherArticlesTwo article {
    padding: 16px;
    border-radius: 8px;
    text-align: center;
}

.otherArticlesTwo img {
    width: 100%;
    height: auto;
}

.noArticlesTwo {
    grid-column: 1 / -1; /* Span all columns */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 24px;
}

.errorMessage {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.footerTwo {
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #333333; /* Ensure background color matches with header */
}

.colorButtonsTwo {
    display: flex;
    justify-content: center;    
}

.colorButtonsTwo button {
    width: 40px; /* Set width and height to create square buttons */
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0 5px;
    color: white;
}

.colorButtonsTwo button:hover {
    background-color: #272727;
}
