html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.containerOneArt {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    align-items: center; /* Center the content horizontally */
    min-height: 100vh;
    box-sizing: border-box;
}

.articleContainerOneArt {
    padding: 20px;
    width: 70%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerOneArt {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.headerOneArt .logoOneArt {
    height: 20%;
}

.headerOneArt .logoOneArt h1 {
    margin: 0;
}

.backButtonContainerOneArt {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

.footerOneArt {
    color: white;
    text-align: center;
    width: 100%;
    background-color: #333;
    position: relative;
    margin-top: auto; /* Push the footer to the bottom */
    padding: 10px 0;
}

.colorButtonsOneArt {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.colorButtonsOneArt button {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0 5px;
    color: white;
}

.colorButtonsOneArt button:hover {
    background-color: #272727;
}
