html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.containerOneArt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--bgColor);
}

.articleContainerOneArt {
    padding: 20px;
    width: 70%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--articleContainerColor);
    background-color: var(--articleContainerBgColor);
}

.headerOneArt {
    background-color: var(--headerBgColor);
    color: var(--headerColor);
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.headerOneArt .logoOneArt {
    height: 20%;
}

.headerOneArt .logoOneArt h1 {
    margin: 0;
}

.backButtonContainerOneArt {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

.backButtonContainerOneArt .MuiButtonBase-root.MuiButton-root {
    width: 15%;
    color: var(--backButtonColor);
    background-color: var(--backButtonBgColor);
}

.backButtonContainerOneArt .MuiButtonBase-root.MuiButton-root:hover {
    background-color: var(--backButtonBgHoverColor);
}

.footerOneArt {
    color: var(--footerColor);
    text-align: center;
    width: 100%;
    background-color: var(--footerBgColor);
    position: relative;
    margin-top: auto;
    padding: 10px 0;
}

.colorButtonsOneArt {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.colorButtonsOneArt button {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0 5px;
    color: black;
    background-color: white;
}

.colorButtonsOneArt button:hover {
    color: white;
    background-color: #272727;
}
