body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.containerOne {
    color: var(--fontColor);
    background-color: var(--bgColor);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.headerOne {
    color: var(--headerColor);
    background-color: var(--headerBgColor);
    padding: 10px 0;
    text-align: center;
}

.headerOne .logoOne {
    height: 20%;
}

.headerOne .logoOne h1 {
    margin: 0;
}

.filterButtonsOne {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.filterButtonsOne button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
    color: var(--navButtonColor);
    background-color: var(--navButtonBgColor);
}

.filterButtonsOne button:hover {
    background-color: var(--navButtonBgHoverColor);
}

.headerNavOne {
    position: fixed;
    top: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    width: 100%;
    color: var(--headerColor);
    background-color: var(--headerBgColor);
}

.mainOne {
    padding: 20px;
    padding-top: 20px; /* Adjust padding to avoid content being hidden behind fixed nav */
    flex: 1;
}

.filterButtonsOne {
    display: flex;
    justify-content: center;
}

.otherArticlesOne {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.otherArticlesOne .articleOne {
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    color: var(--articleColor);
    background-color: var(--articleBgColor);
}

.otherArticlesOne .articleOne:hover {
    background-color: var(--articleBgHoverColor);
}

.otherArticlesOne img {
    width: 100%;
    height: auto;
}

.noArticlesOne {
    grid-column: 1 / -1; /* Span all columns */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 24px;
}

.errorMessage {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.footerOne {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--footerColor);
    background-color: var(--footerBgColor);
}

.fillerFooterOne {
    margin-left: 17%;
}

.colorButtonsOne {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    right: 20px;
    bottom: 20px;
    margin-right: 2%;
}

.colorButtonsOne button {
    width: 40px; /* Set width and height to create square buttons */
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0 5px;
    color: black;
    background-color: white;
}

.colorButtonsOne button:hover {
    color: white;
    background-color: #272727;
}
