body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.containerFour {
    color: var(--fontColor);
    background-color: var(--bgColor);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.headerFour {
    color: var(--headerColor);
    background-color: var(--headerBgColor);
    padding: 10px 0;
    text-align: center;
}

.headerFour .logoFour {
    height: 20%;
}

.headerFour .logoFour h1 {
    margin: 0;
}

.filterButtonsFour {
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.filterButtonsFour button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
    color: var(--navButtonColor);
    background-color: var(--navButtonBgColor);
}

.filterButtonsFour button:hover {
    background-color: var(--navButtonBgHoverColor);
}

.headerNavFour {
    position: fixed;
    top: 0;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
    width: 100%;
    color: var(--headerColor);
    background-color: var(--headerBgColor);
}

.mainFour {
    padding: 20px;
    padding-top: 20px;
    flex: 1;
}

.filterButtonsFour {
    display: flex;
    justify-content: center;
}

.otherArticlesFour {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0 20px;
}

.articleCategoryContainerFour {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.articleCategoryContainerFour h1 {
    margin-bottom: 8px;
    text-align: left;
}

.articleCategoryContainerFour .articleListFour {
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow-x: auto;
    padding-bottom: 16px;
}

.articleCategoryContainerFour .articleFour {
    min-width: 300px;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    color: var(--articleColor);
    background-color: var(--articleBgColor);
    flex-shrink: 0;
}

.articleCategoryContainerFour .articleFour:hover {
    background-color: var(--articleBgHoverColor);
}

.articleCategoryContainerFour .noArticlesFour {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.errorMessage {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.footerFour {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--footerColor);
    background-color: var(--footerBgColor);
}

.fillerFooterFour {
    margin-left: 17%;
}

.colorButtonsFour {
    display: flex;
    justify-content: flex-end;
    right: 20px;
    bottom: 20px;
    margin-right: 2%;
}

.colorButtonsFour button {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin: 0 5px;
    color: black;
    background-color: white;
}

.colorButtonsFour button:hover {
    color: white;
    background-color: #272727;
}
