#root {
  margin: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --fontColor: black;
  --bgColor: white;
  --headerColor: white;
  --headerBgColor: #333333;
  --articleContainerColor: black;
  --articleContainerBgColor: white;
  --backButtonColor: white;
  --backButtonBgColor: #333;
  --backButtonBgHoverColor: #272727;
  --footerColor: white;
  --footerBgColor: #333;
  --commentsContainerColor: black;
  --commentsContainerBgColor: white;
  --navButtonColor: white;
  --navButtonBgColor: #333;
  --navButtonBgHoverColor: #272727;
  --articleColor: black;
  --articleBgColor: #f4f4f4;
  --articleBgHoverColor: #b9b9b9;
  --popupColor: black;
  --popupBgColor: white;
  --popupCloseColor: white;
  --popupCloseBgColor: #333;
  --popupCloseBgHoverColor: #272727;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



